:root {
    --instagram-blue: #458EFF;
    --facebook-blue: #4267B2;
    --background: #fafafa;
    --margin: #D9DADB;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    margin: auto;

    width: 100vh;
    height: 100vh;

    align-items: center;
}

/* ? Left side of the screen */

.phone .bg-phone{
    width: 30vw;
}

/* ? Right side of the screen */

.account {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    background-color: white;
    width: 45vh;
    padding: 20px;

    border: 1px solid var(--margin);
}

.login {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.login .logo {
    width: 175px;
}

.login .profilePic img {
    width: 150px;
    height: 150px;

    border-radius: 50%;
}

.download img {
    width: 140px;
}

.signUp {
    display: flex;
}